#root:has(.account-page) {
  display: grid;
  align-content: center;
  padding-block: 2em;
}

.account-page {
  --container-width: 35em;
}

@media( width > 45em ) {
  .account-page--form > .grid {
    grid-auto-flow: column;
  }
}

.account-page header {
  text-align: center;
}

.account-page .cta-btn {
  background-color: hsl( var(--cornflower-blue) );
  color: hsl( var(--white) );
  justify-content: center;
}

.account-page .cta-btn:nth-of-type(2) {
  background-color: hsl( var(--ship-cove) );
}

.account-page a.button {
  border: 1px solid hsl( var(--cornflower-blue) );
  color: hsl( var(--cornflower-blue) );
  justify-content: center;
}

.account-page .button:is(:hover, :focus-visible) {
  opacity: .7;
}

.span-decor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-decor span {
  padding: .5em;
}

.span-decor::before, .span-decor::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: hsl( var(--cornflower-blue) / .5 );
}

footer { 
  text-align: center;
}