#root {
  display: grid;
  align-content: center;
}

.account-page {
  --container-width: 35em;
}

.account-page--form > .grid {
  grid-auto-flow: column;
}

.account-page header {
  text-align: center;
}

.account-page button[type='submit'] {
  background-color: hsl( var(--cornflower-blue) );
  color: hsl( var(--white) );
  justify-content: center;
}

.account-page a.button {
  border: 1px solid hsl( var(--cornflower-blue) );
  color: hsl( var(--cornflower-blue) );
  justify-content: center;
}

.account-page .button:is(:hover, :focus-visible) {
  opacity: .7;
}

.span-decor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-decor span {
  padding: .5em;
}

.span-decor::before, .span-decor::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: hsl( var(--cornflower-blue) / .5 );
}