.invoice {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  --flow-spacing: 1rem;
  padding: 1.5em 1.3em;

  background-color: hsl( var(--clr-neutral-bg) );

  display: grid;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: 'invoice-heading client-name payment-due total status';
}

@media (width < 45em) {
  .invoice {
    row-gap: .5em;
    justify-items: space-around;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'invoice-heading client-name'
    'payment-due status'
    'total status';
  }

  .invoice > *:nth-child(1) {
    margin-bottom: 1em;
  }

  .invoice > *:nth-child(5) {
    margin-right: auto;
  }
}

.invoice > *:nth-child(1) {
  grid-area: invoice-heading;
}

.invoice > *:nth-child(2) {
  grid-area: payment-due;
}

.invoice > *:nth-child(3) {
  grid-area: client-name;
}

.invoice > *:nth-child(4) {
  grid-area : total;
}

.invoice > *:nth-child(5) {
  grid-area: status;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.invoice > *:nth-child(1) {
  --gap: 2rem;
}

.invoice-status {
  color: hsl( var(--accent-color) );
  background-color: hsl( var(--accent-color) / .06 );
  padding: 1em;
  width: 6.5rem;
  border-radius: 6px;
  position: relative;
  text-transform: capitalize;
  justify-content: center;
}

.invoice-status::before {
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: hsl( var(--accent-color) );

  display: block;
}

.invoice-status--paid {
  --accent-color: var(--shamrock);
}

.invoice-status--pending {
  --accent-color: var(--pizazz);
}

.invoice-status--draft {
  --accent-color: var(--oxford-blue);
}