.invoice-form-container {
  --left-spacing: clamp(1rem, 2vw, 10rem);
  --padding-right: clamp(2rem, 3vw, 3.5rem);

  position: fixed;
  inset: 0;
  left: calc( var(--left-spacing) + var(--padding-right) + 2vw );
  background-color: rgba(0, 0, 0, 0.26);
  visibility: hidden;
  z-index: -1;
}

.scroll-wrapper { 
  position: sticky;
  top: 0;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
  padding: 4rem 
           var(--padding-right) 
           4rem 
           calc(var(--left-spacing) + var(--padding-right));
  width: min(50rem, 100% - 2rem);
  border-radius: 0 20px 20px 0;
  height: 100vh;
}

@media (width < 45em) {
  .invoice-form-container {
    /* position: sticky; */
    left: 0;
  }

  .scroll-wrapper {
    border-radius: 0;
    width: 90%;
    padding-top: 20vh;
  }

  .invoice-form {
    padding-bottom: 1rem;
  }
}

@media (width < 35em) {
  .scroll-wrapper {
    width: 100%;
    --left-spacing: clamp(1rem, 3vw, 2em);
    --padding-right: clamp(.5rem, 3vw, 1em);

  }
}

.invoice-form {
  height: 100%;
  overflow-y: scroll;
  padding-right: 1rem;
}

.invoice-form::-webkit-scrollbar {
  width: .5rem;
}

.invoice-form::-webkit-scrollbar-track {
  width: .5rem;
  border-radius: 100vmax;
}

.invoice-form::-webkit-scrollbar-thumb {
  width: .5rem;
  background: hsl( var(--selago) );
  border-radius: 100vmax;
}

.invoice-form::-webkit-scrollbar-thumb:active {
  background-color: hsl( var(--heliotrope) );
}

.invoice-form-container[data-visible='true'] {
  z-index: 2;
  visibility: visible;
}

.invoice-form-container[data-visible='true'] > .scroll-wrapper {
  transform: translate(0);
}

.invoice-form .form-section {
  --flow-spacing: 1.5rem;
}

table tr.form-element {
  grid-template-columns: 4fr 1.7fr 3fr 2fr 1fr;
  gap: .5rem;
  align-items: end;
}

table tr.form-element > *:nth-child(4) {
  align-self: center;
  justify-self: center;
}

table tr.form-element > *:last-child {
  align-self: center;
}