.invoice-controls, .invoice-details {
  border-radius: 8px;
  color: hsl( var(--text-accent) );
}

.invoice-controls {
  padding: 2em 3em;
}

.invoice-details {
  padding: 3em;
  margin-block: 2em;
}

.invoice-details--location {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}

.main-content .flex {
  flex-wrap: wrap;
}

@media (width < 45em) {
  .invoice-controls > div {
    width: 100%;
    justify-content: space-between;
  }
}

.invoice-table, .invoice-items {
  background-color: hsl( var(--table-bg) );
  border-spacing: 2rem;
  text-align: left;
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.invoice-items { 
  padding: 1rem;
}

body[data-theme='light'] {
  --table-bg: 231 67% 99%;
  --total-cost-bg: var(--oxford-blue);
}

body[data-theme='dark'] {
  --table-bg: var(--ebony-clay);
  --total-cost-bg: var(--vulcan);
}

.total-cost {
  background-color: hsl( var(--total-cost-bg) );
  border-radius: 0 0 8px 8px;
  padding: 3em 2em; 
} 

footer {
  padding-block: 1em;
}