.invoice {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  --flow-spacing: 1rem;
  padding: 1.5em 1.3em;

  background-color: var(--clr-neutral-bg);
}

a {
  text-decoration: none;
}

.invoice > *:nth-child(1) {
  --gap: 2rem;
}

.invoice-status {
  color: hsl( var(--accent-color) );
  background-color: hsl( var(--accent-color) / .06 );
  padding: 1em;
  width: 6.5rem;
  border-radius: 6px;
  position: relative;
  text-transform: capitalize;
  justify-content: center;
}

.invoice-status::before {
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: hsl( var(--accent-color) );

  display: block;
}

.invoice-status--paid {
  --accent-color: var(--shamrock);
}

.invoice-status--pending {
  --accent-color: var(--pizazz);
}

.invoice-status--draft {
  --accent-color: var(--oxford-blue);
}