@media (width > 45em) {
  .user-page {
    display: grid;
    min-height: 100vh;
    grid-template-columns: minmax(min-content, 6.4375rem) 1fr;
  }
}

:is(.user-page, .invoice-page) .header {
  padding-top: clamp(3em, 7vw, 10em);
}

.user-page .main-content {
  padding-bottom: 2rem;
  place-self: center;
  text-align: center;
  margin-top: min(4vw, 3rem);
  --flow-spacing: 4.125rem;
}

.user-page > .main-content p {
  --flow-spacing: 1rem;
}

.sidebar {
  display: grid;
  grid-template-columns: minmax(auto, 80px) 1fr minmax(auto, 80px) minmax(auto, 80px);
  grid-template-rows: auto;
  grid-template-areas: 'logo . theme-icon avatar';

  justify-items: stretch;
  overflow: hidden;

  position: sticky;
  top: 0;
  z-index: 100;
}

@media (width > 45em) {
  .sidebar {
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'logo'
    '.'
    'theme-icon'
    'avatar';
    height: 100vh;
    border-radius: 0 20px 20px 0;
  }

  .user-page .main-content { 
    margin-bottom: 3rem;
  }
}

.sidebar > * > * {
  margin-inline: auto;
  padding-block: clamp(1em, 3vw, 2em);
}

.sidebar > *:nth-child(1) {
  grid-area: logo;
  background-color: hsl( var(--cornflower-blue) );
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  position: relative;
  isolation: isolate;

  display: grid;
  place-items: center;
}

.sidebar > *:nth-child(1)::before {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  background-color: hsl( var(--heliotrope) );
  z-index: -1;
  border-radius: 20px 0 0 0;
}

.sidebar > *:nth-child(2) {
  grid-area: theme-icon;
}

.sidebar > *:nth-child(3) {
  grid-area: avatar;
}

.sidebar > *:nth-child(3) > img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 2.5rem;
}

